{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content%}
    <h1 class="text-center my-5">
        Task Lists
        <a class="btn btn-dark" href="{% url 'add_list' %}">{% custom_icon 'plus-lg' size='1.3rem'%}</a>
    </h1>
        <div class="d-flex flex-row justify-content-center flex-wrap">
            {% for task_list in task_lists%}
                <div class="p-3">
                <div style="width: 400px; min-width: 400px; max-height: 250px;" class="p-3 shadow rounded border d-flex flex-column">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="h3">
                            <a href="{% url 'task_list' task_list.data.id %}" class="text-decoration-none text-dark">
                                {{ task_list.data.title }}
                            </a>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-outline-dark p-1" href="{% url 'add_task' task_list.data.id %}">
                                {% custom_icon 'plus-lg' size='1.2rem'%}
                            </a>
                            <a class="btn btn-outline-dark p-1" href="{% url 'edit_list' task_list.data.id %}">
                                {% custom_icon 'pencil' size='1.2rem'%}
                            </a>
                        </div>
                    </div>
                    <hr />
                    {% if not task_list.tasks %}
                        <p class="text-center">No tasks yet...</p>
                    {% endif %}

                    <div class="overflow-auto flex-grow-1" >
                        {% for task in task_list.tasks %}
                            <div class="d-flex">
                                <div class="mt-1">
                                    <input class="me-2 task-check"
                                           style="width: 1.5rem; height:1.5rem"
                                           type="checkbox"
                                           {% if task.done %}checked{% endif %}
                                           data-id="{{ task.id }}">
                                </div>
                                <div class="lead flex-grow-1 mb-2">
                                    {{task.title}}
                                </div>
                                <a class="col-1 text-secondary" href="{% url 'edit_task' task.id %}">
                                    {% custom_icon 'pencil' size='1.2rem'%}
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                </div>
            {% endfor %}
        </div>

    </div>
  <script src="{% static 'scripts/task_checked.js' %}"></script>
{% endblock content %}
