{% extends 'base.html' %}
{% block content %}
    <div>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }}
                    {% for error in field.errors %}
                        {{error|escape}}
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" value="Register">
        </form>
        <a href={% url 'login'%}>Login -></a>
    </div>
{% endblock %}